body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    padding-left: 20px;
    padding-right: 10px;
}
div.main{
    height: auto;
}
div.script{
    width: 97.5%;
    border-width: 1px;
    border-style: solid;
}
input.wide{
    width: 95%;
    box-sizing: border-box;
}
div.p{
    margin-top: 12px;
    margin-bottom: 12px;
}
.bold{
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: bold;
}
.col{
    margin-top: auto;
    flex: 1;
}
.flex{
    display: flex;
}
@media screen and (max-width: 600px) {
    .flex {
        display: block;
    }
}
div.bottom{
    position: relative;
    height: auto;
    bottom: 0;
    flex: 1;
    display: flex;
}
div.float_bottom{
    margin-top: auto;
}
div.result{
    padding: 10px;
    background-color: aliceblue;
}
div.err{
    background-color: lightpink;
}
div.pre{
    white-space: pre;
    overflow: auto;

}