<!doctype html>
<head>
    <title>PAC Tester - WPAD / Proxy Auto-Config (PAC) File Tester</title>
    <meta name="title" content="PAC Tester - Proxy PAC / WPAD File Tester">
    <meta name="description" content="PAC Tester enables you to validate Proxy Auto-Config (PAC) and Web Proxy Auto-Discovery (WPAD) scripts. It outputs the resulting proxy based on the specified: URL, Web Server IP, or Source IP.">
    <meta name="keywords" content="PAC Tester, Proxy PAC, Proxy auto-config, Web Proxy Auto-Discovery, WPAD, PAC Parser, PAC Validator">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- https://codemirror.net/5/
        https://cdnjs.com/libraries/codemirror -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/lint/lint.min.css" integrity="sha512-jP1+o6s94WQS9boYeDP3Azh8ihI5BxGgBZNjkABhx05MqH5WuDzfzSnoPxGxVzWi/gxxVHZHvWkdRM6SMy5B0Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.js" integrity="sha512-n7rucz/qOiYAkYK1CVKuqygMAnohil8Rg6kKAv0IsF2xnHUhnVyD5K9GO25OUvc+WEVZVu+NIYLblIUpkBMNvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/lint/lint.min.js" integrity="sha512-fzIkwQa9H8rjoDzpZ9sMOYhgaYwh9nKALWbE1m+7wpiry9PN5OyNcZ9LySotjEysolveRyv2C9pVJ+DbEuKtmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/lint/javascript-lint.min.js" integrity="sha512-8kwyIAPFqkeXy+ZFifnFBF57n5pSsXBBWuy9ME1hPCku0evC+UFNnWZOJlITFe/OMSxGi/oWaccjZ07L6YXzJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- https://cdnjs.com/libraries/jshint -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jshint/2.13.5/jshint.min.js" integrity="sha512-/Dy8gfnwyOi7cOuzsW7lv9iBMIT1LR75DUjkhqcvd+CBHHCWNj9mh1GIyvYDkXjvWH+uqLif99y4dY7zYyKv+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<html>
    <body>
    <div class="main">
        <H1>Online Proxy PAC or WPAD File Tester</H1>
        <div class="flex">
            <div class="col">
                <H2>PAC File</H2>
            </div>
            <div class="col help">
                <a href="/pacfunctions.html">PAC Functions Help</a>
            </div>
        </div>
        <div class="script">
            <textarea id="pac_script" name="pac_script">{% if pac_script %}{{pac_script}}{% endif %}</textarea>
        </div>
        <div class="flex">
            <div class="col">
                <H2>URL</H2>
                <input class="wide" id="url" name="url" type="text" value="{% if url %}{{url}}{% endif %}">
            </div>
            <div class="col">
                <H2>Source IP Address</H2>
                <input class="wide" id="src_ip" name="src_ip" type="text" value="{{src_ip}}">
            </div>
            <div class="col">
                <H2>Override dnsResolve (Optional)</H2>
                <input class="wide" id="dst_ip" name="dst_ip" type="text" value="">
            </div>
        </div>
        <div class="p">
            <button class="button" type="button" onclick="evalPac(); return false;">Test Proxy PAC</button>
        </div>
        <div id="result" class="p pre result"></div>
    </div>
    <div id="output"></div>
    <div class="bottom">
        <div class="float_bottom">
            <div class="p">The PAC script runs in your browser - it's never uploaded to our servers.</div>
            <div class="p">For examples to load into the tester, see the <a href="/pacfunctions.html">PAC functions</a> page.</div>
            <div class="p">Source code in my GitHub <a href="https://github.com/lucasnz/PAC-Tester">repo.</a></div>
        </div>
    </div>
    <!-- Mozilla Firefox pac processing source:
        https://searchfox.org/mozilla-central/source/netwerk/base/ascii_pac_utils.js -->
    <script src="{{ url_for('static', filename='js/ascii_pac_utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/evalPac.js') }}"></script>
    <script>
    var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("pac_script"), {
        lineNumbers: true,
        tabindex: 0,
        indentUnit: 4,
        spellcheck: false,
        autocorrect: false,
        autocapitalize: false,
        gutters: ["CodeMirror-lint-markers"],
        lint: {options: {esversion: 2021}},
        mode: "javascript"
     });
     window.JSHINT = JSHINT;
    </script>
    <div id="pac_file" style="display: none;"></div>
    </body>
</html>